<% provide(:title, "About")%>
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Welcome to Project Stardust</h1>
        <p>
            THIS IS PROJECT STARDUST
        </p>
    </body>
</html>


