<% provide(:title, "Home")%>
<!DOCTYPE html>
<html lang="en">

    <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    </head>

    <body id="page-top">
        <header class="masthead">
            <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 my-auto">
                <div class="header-content mx-auto">
                    <h1 class="mb-5">Welcome to Project Stardust</h1>
                    <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Create an Account!</a>
                </div>
                </div>
            </div>
            </div>
        </header>

        <!--

        <script src="jquery/jquery.js"></script>
        <script src="bootstrap/js/bootstrap.bundle.js"></script>
        
        <script src="jquery-easing/jquery.easing.js"></script>

        <script src="new-age.js"></script>

        -->

    </body>

</html>