<% provide(:title, "Home")%>
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div class="center jumbotron">
        <h1>Welcome to Project Stardust</h1>
        <p>
            Yes there's no CSS and JS, I'll fix that soon (hopefully lol)
            This is the home page for Project Stardust, and will contain
            what this project is, and there will be headers and footers
            that go to other pages, but for the meantime, it's pretty baren
        </p>
    </body>
</html>


