<footer>
    <div class="container">
      <p>&copy; Project Stardust</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="/home">Home</a>
        </li>
        <li class="list-inline-item">
          <a href="/help">Help</a>
        </li>
        <li class="list-inline-item">
          <a href="/about">About</a>
        </li>
      </ul>
    </div>
  </footer>




